- comment = current_user.comments.new
= form_for [commentable, comment] do |f|
  - if comment.errors.any?
    .error_messages
      %h2 Please correct the following errors.
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :user_id, value: comment.user.id.to_s
    = f.text_area :content, rows: 12, cols: 50
  .actions
    = f.submit