= form_for @torrent, :html => {multipart: true} do |f|
  - if @torrent.errors.any?
    #error_explanation
      %h2= "#{pluralize(@torrent.errors.count, "error")} prohibited this torrent from being saved:"
      %ul
        - @torrent.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :user_id, value: current_user.id.to_s
  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.submit 'Save'
