- percents = (torrent.percent_done * 100).round(2)
%tr{ id: torrent.id}
  %td
    .row-fluid
      .span1
        %i.icon-comment
        = torrent.comments.count
      .span11
        = link_to torrent do
          = torrent.name
    .row-fluid
      .span6
        .btn.like_it
          %i.icon-thumbs-up
          %span.counter
            &nbsp;
            = torrent.likes.positives.count
        .btn.unlike_it
          %i.icon-thumbs-down
          %span.counter
            &nbsp;
            = torrent.likes.negatives.count
      .offset3.span3
        - if torrent.porn_inside
          %i.icon-warning-sign
          Porn Inside
        / %i.icon-eye-open
        / %i.icon-eye-close
  %td
    = torrent.user.name if torrent.user.present?
  %td
    .row_fluid
      .span12
        .text-center= "#{percents} %"
        .progress.progress-warning
          .bar{ style: "width: #{percents}%;"}
    .row_fluid
      .span12
        - current_size = torrent.percent_done * torrent.total_size
        = number_to_human_size(current_size, :precision => 2) 
        \/
        = number_to_human_size(torrent.total_size, :precision => 2) 
  %td
    = link_to_controls(torrent)
    = link_to 'Supprimer', torrent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
