%h1 Listing torrents

%table
  %tr
    %th Name
    %th Percent
    %th


  - @torrents.each do |torrent|
    %tr
      %td= torrent.name
      %td= torrent.percent_done
      %td
        = link_to 'Show', torrent
        = link_to 'Edit', edit_torrent_path(torrent)
        = link_to 'Destroy', torrent, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Torrent', new_torrent_path
