#notice= notice

.row-fluid
  .span9.well
    %p
      = "##{@torrent.transmission_id} - "
      = @torrent.name

    %p
      %b percent_done:
      = @torrent.percent_done
    %p
      %b total_size:
      = number_to_human_size(@torrent.total_size, :precision => 2) 

  .span3.well
    %p
      %b user:
      - if @torrent.user.present?
        = image_tag @torrent.user.avatar.large
        = @torrent.user.name
    
/ %p
/   %b Leechers:
/   = @torrent.leechers
/ %p
/   %b Seeders:
/   = @torrent.seeders

%h2 Comments
= render partial: "comments/comments", locals: { comments: @torrent.comments}
= render partial: "comments/form", locals: { commentable: @torrent}

.pull-right= link_to 'Back', torrents_path, class: 'btn'
