= link_to "FireFly Panel", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    %li
      = link_to 'Edit account', edit_user_registration_path
    %li
      = link_to 'Torrents', torrents_path
    %li
      = link_to 'Users', users_path
    %li.dropdown
      = link_to "#", class: "dropdown-toggle", data: {toggle:"dropdown"} do
        Themes
        %b.caret
      %ul.dropdown-menu#theme-selector
        %li= link_to "Amelia", "/users/switch_theme/amelia"
        %li= link_to "Cerulean", "/users/switch_theme/cerulean"
        %li= link_to "Cyborg", "/users/switch_theme/cyborg"
        %li= link_to "Superhero", "/users/switch_theme/superhero"
        %li= link_to "United", "/users/switch_theme/united"
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
    %li
      = link_to 'Login', new_user_session_path