!!! 5
%head
  %meta{:charset => "utf-8"}
  %title= content_for?(:title) ? yield(:title) : "FireFly Panel"
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{:content => "FireFly", :name => "description"}
  %meta{:content => "Elentras", :name => "author"}
  %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag "application", :media => "all"
  = stylesheet_link_tag "bootstrap-responsive.css"
  = stylesheet_link_tag(current_user ? "themes/#{current_user.theme}" : "bootstrap" )
  = csrf_meta_tags
  = yield(:head)

%body{ class: "#{controller_name} #{action_name}" }
  %header.navbar.navbar-fixed-top.nav-collapse.collapse
    %nav.navbar-inner
      .container
        = render 'layouts/navigation_top'

  #main{ role: "main" }
    .container-fluid
      .row-fluid
        .span12
          = render 'layouts/messages'
      .row-fluid
        - if user_signed_in?
          .span2= render 'layouts/navigation_side'
          .span10#body-yield= yield
        - else
          .span12= yield
  %footer
    = javascript_include_tag "application"
